# Dependencies
node_modules/

# Build output
dist/

# Test coverage
coverage/

# Database
data/

# Environment
.env

# AI config
.clinerules

# Generated
tree.js


# IDE
.vscode/
.idea/

#md
tree.md
PLAN.md
